<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= category_name %></title>
</head>
<body>
    <h1>Category: <%= category_name %></h1>
    <a href="/items"><button>Go back</button></a>
    <ul>
    <% items.forEach(item => { %>
        <%- include('./item.ejs', { item: item }) %>
    <% }) %>
    </ul>
</body>
</html>