<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Inventory</title>
</head>
<body>
    <h1>Welcome to Shopping Inventory!</h1>
    <p>This app was made to practice some CRUD operations as I delve into the world of backend development.</p>
    <p>You can see a listing of all items and items by category while also having the ability to update and remove them.</p>
    <p>Enjoy your stay!</p>
    <a href="/items">See all items</a>
</body>
</html>