<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All items</title>
</head>
<body>
    <form action="/items/create" method="GET">
        <button type="submit">Add new item</button>
    </form>

    <% const set = new Set() %>
    <% items.forEach(item => { %>
        <% if (!set.has(item.category_name)) { %>
            <% set.add(item.category_name) %>
            <form action="/items/category/<%= item.category_id %>" method="GET">
                <button type="submit"><%= item.category_name %></button>
            </form>
        <% } %>
    <% }) %>

    <ul>
    <% items.forEach(item => { %>
        <%- include('./item.ejs', { item: item }) %>
    <% }) %>
    </ul>
</body>
</html>